<h2><%= @plant.name %></h2>
<%= cl_image_tag(@plant.photo.key) %>
<p><%= @plant.next_watered_at %></p>
<% if @plant.alive == true %>
  <%= link_to(watered_plant_path, method: :patch) do%>
      <div class="btn btn-ghost">Arroser <%= @plant.name %></div>
    <% end %>
  <p>Bravo, votre plante est toujours vivante!</p>
  <% else %>
  <p>Dommage, votre plante est morte</p>
<% end %>
